:root {
    --cyanlight: #cffafe; 
    --cyanmid: #06b6d4;
    --cyan: #0e7490;
    --cyandark: #164e63;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: var(--cyan);
    height: 100vh;
}

.header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    position: relative;
    height: 20vh;
    background-color: var(--cyanlight);
}

  .account-top,
  .account-bottom,
  .action-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
  }