:root {
    --cyanlight: #cffafe; 
    --cyanmid: #06b6d4;
    --cyan: #0e7490;
    --cyandark: #164e63;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    background-color: var(--cyanlight);
}

.sidebar {
    background-color: var(--cyan);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 50px;
}

.dashboard-title {
    font-size: 28px;
    font-weight: bolder;
    color: white;
}

.header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    position: relative;
    height: 25vh;
    background-color: var(--cyandark);
    position: relative;
    padding: 30px;
}

.search-input {
    display: flex;
    width: 500px;
    padding: 10px;
    font-size: large;
    border-radius: 0.75em;
}

  .account-top,
  .account-bottom,
  .action-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  form {
    display: flex;
    align-items: center;
  }

  .profile-pic-small {
    width: 75px;
  }

ul li:hover {
    text-decoration: underline;
    cursor: pointer;
    -webkit-transform: scale(1.07);
}

ul li {
    list-style: none;
    color: white;
    font-weight: bold;
}

.simple-icon {
    margin-right: 25px;
}

.main-icon {
    margin-right: 5px;
    margin-bottom: -5px;
}

.profile-greet,
.account-top {
    color: white;
}

.action {
    color: var(--cyandark);
    font-weight: 500;
    background-color: white;
    width: 75px;
    height: 30px;
    border-radius: 1em;
    border: none;
    margin-bottom: 5px;
    margin-right: 10px;
}

button:hover,
.simple-icon:hover,
.clickable:hover,
.dashboard-title {
    cursor: pointer;
    -webkit-transform: scale(1.07);
}

.content {
    display: grid;
    grid-template-columns: 75% 25%;
}

.cards {
    display: grid;
    grid-template-columns: 50% 50%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    height: 180px;
    margin: 15px 0;
    margin-left: 20px;
    background-color: var(--cyanmid);
    border-radius: 10px;
    border-left: yellow solid 10px;
    padding-left: 25px;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    gap: 20px;
    margin-top: 40px;
}

.mini-icons:hover {
    cursor: pointer;
    -webkit-transform: scale(1.07);
}

h6 {
    font-size: 18px;
    margin: 14px 0;
}

p {
    color: white;
}

.side-cards {
    display: grid;
    grid-template-rows: 50% 50%;
}

.ann-container,
.trend-container {
    height: 80%;
    width: 80%;
    background-color: grey;
    margin-top: 20px;
    padding: 20px;
}

.side-card {
    border-bottom: black solid;
}