:root {
    --cyanlight: #cffafe; 
    --cyanmid: #06b6d4;
    --cyan: #0e7490;
    --cyandark: #164e63;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: var(--cyan);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    position: relative;
    height: 20vh;
    background-color: var(--cyanlight);
}

.search-input {
    display: flex;
    min-width: 350px;
}

  .account-top,
  .account-bottom,
  .action-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .profile-pic-small {
    width: 75px;
  }

  .clickable:hover {
    cursor: pointer;
    -webkit-transform: scale(1.07);
}

ul li:hover {
    text-decoration: underline;
    cursor: pointer;
    -webkit-transform: scale(1.07);
}